{% extends 'base.html' %}
{% block content %}
	<!-- <img class="img-responsive" src="img/logo.png"> -->
	<div class="main_container">
		<div class="baby_container0">
			<div class="row">
				<div class="col-md-2"></div>
				<div id="main col-md-8">			
					<div id="clonebaby" class="baby_container">
						<div class="baby_cont1">
							<input  type="text" placeholder="Which student expense do you want to see?" id="search" class="form-control" name="query">
						</div>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
			
	</div>
	
<script>
    $(function (){

    $('#search').keyup(function(){

        $.ajax({
            type: 'GET',
            url: "{% url 'searchfellow' %}",
            data: {'query':$('#search').val()},
            success: function(newData) {
                console.log(newData);
            }
        });

    });

});

    
</script>
</body>
<style type="text/css">
	body{
	background-color:	 #eee;
	font-family: sans-serif;
	/*margin: auto 0;*/

}


.baby_cont1{
	margin-top: 15px;
	margin: 0 auto;
	margin-right: 9%;
	margin-left: 9%;
	margin-top: 17%; 


}
.form-control{
	padding: 30px 3%;
	font-weight: 700;
	font-size: 30px;
}

@media only screen and (max-width: 400px) {
  .form-control{
	font-size: 14px;
	}
   .baby_cont1{
   	margin-top: 40%;
   }
}
</style>

{% endblock %}
