/*.pyc
HisaabProject/db.sqlite3
*.sql
__pycache__/

HisaabProject/media/
virtualenviroment/
venv/
production.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
HisaabProject/HisaabApp/migrations/*
HisaabProject/*.pyc
HisaabProject/HisaabProject/settings/production.py
