{% extends 'base.html' %}
{% block content %}
<!-- Form for add the expense of Personal level and Facility level  -->
<div class="d-flex justify-content-center">
<div class="container" style="">
 <div class="col">
 <h3 class="text-center">Add Expense!</h3>
 <br>
 <form method='POST' >
  {% csrf_token %}
  <div class="form-group">

    <!-- Fellow name who made the expense -->
    <label for="fellow">Who made the Expense </label>
    <div class="input-group">
        <div class="input-group addon">
          <span class="input-group-addon" id="fellow"><i class="fa fa-inr"></i></span>
          {{ form.fellow }}
        </div>
    </div>
    <br>
    <!-- which type of expense is made -->
    <label for="expense_type">What kind of expense is this?</label>
    <div class="input-group">
        <div class="input-group addon">
          <span class="input-group-addon" id="expense_type"><i class="fa fa-inr"></i></span>
          {{ form.expense_type }}
        </div>
    </div>
    <br>
    <!-- which facility students belongs -->
    <label for="facility">Facility of student</label>
    <div class="input-group">
        <div class="input-group addon">
          <span class="input-group-addon" id="facility"><i class="fa fa-inr"></i></span>
          {{ form.facility }}
        </div>
    </div>
    <br>
    <!-- How much amount is expensed -->
    <label for="expense_amount">Amount</label>
    <div class="input-group">
        <div class="input-group addon">
          <span class="input-group-addon" id="amount"><i class="fa fa-inr"></i></span>
          {{ form.expense_amount }}
        </div>
    </div>
    <br>
    <!-- date on which expense is made -->
    <label for="created_date">Created Date</label>
    <div class="input-group">
        <div class="input-group addon">
          <span class="input-group-addon" id="created_date"><i class="fa fa-inr"></i></span>
          {{ form.created_date }}
        </div>
    </div>
    <br>
    <!-- Categoy for type of expense made -->
    <label for="category">Category</label>
    <div class="input-group">
        <div class="input-group addon">
          <span class="input-group-addon" id="category"><i class="fa fa-inr"></i></span>
          {{ form.category }}
        </div>
    </div>
    <br>
    <!-- Image of the Bill that made expense -->
    <label for="bill_image">Bill Image</label>
    <div class="input-group">
        <div class="input-group addon">
          <span class="input-group-addon" id="bill_image"><i class="fa fa-inr"></i></span>
          {{ form.bill_image }}
        </div>
    </div>
    <br>
    <!-- Description about the  made expense  -->
    <label for="description">Description :</label>
    <div class="input-group">
        <div class="input-group addon">
          <span class="input-group-addon" id="description"><i class="fa fa-pencil-square-o"></i></span>
          {{ form.description }}
        </div>
    </div>




 <button  class="btn btn-success float-right" type=”submit”>Add Expense</button>
</form>
</div>

</div>
</div>
</div>
{% endblock %}
