{% extends 'base.html' %}
{% block content %}

      <!-- Form code begins -->

<form method="post">
  {% csrf_token %}
  <div class="main-container" style="display: flex;flex-direction: column;height: 100vh;align-items: center;justify-content: center;">
    <center><h1>Add the new <b>Facility</b></h1></center>
    <div class="col-md-12">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <input type="text"  placeholder="Add new facility name here!" name="name" class="form-control" >
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <br>
    <div class="col-md-12">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <input type="number" min="0" placeholder="Add expense amount limit here!" name="student_expenses_limit" class="form-control">
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <br>
    <div class="col-md-12">
      <div class="col-md-6">
      </div>
      <div class="col-md-3">
        <button id="btnbottom" type="submit" class="btn btn-success pull-right"> Add </button>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</form>


{% endblock %}
