{% extends 'base.html' %}
{% block content %}

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
    	<a href="{% url 'addexpense' %}">
	      <button id="top-button"  type="button" class="btn btn-danger btn-block"><i class="fa fa-money-bill-alt fa-lg"></i>  Add an Expense</button>
    	</a>
    </div>
    <div class="col-md-3">
    	<a href="{% url 'recordpayment' %}">
	      <button id="top-button"  type="button" class="btn btn-success btn-block"><i class="fa fa-angle-double-up"></i>  Record a Payment</button>
    	</a>

      </div>
      <div class="col-md-3">
        <a href="{% url 'searchfellow' %}">  
        <button id="top-button"  type="button" class="btn btn-primary btn-block"><i class="fa fa-user-plus "></i>  Student Level Expenses</button>
        </a>
      </div>
<!--
      <div class="col-md-1">
      </div> -->
    </div>

  <div class="row-fluid main">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <h2>Pending Request</h2>
      {% for request in money_requests %}
        {% if request.is_money_request %}
        <div class="col-md-12 green">
           <h3>₹{{ request.amount }} for NG Day to Day Expenses</h3>
           <p>for {{ request.facility.name }} Facility by {{ request.money_requested_by.user.first_name }} {{ request.money_requested_by.user.last_name }}</p>
           <a class="pull-right underline" style='margin-top:-15px' href="{% url 'viewpendingrequest' pk=request.id %}">View Request</a>
        </div>
        {% else %}
        <div class="col-md-12 green">
           <h3>₹{{ request.amount }} for {{request.type_of_bill }} Bill Payment</h3>
           <p>for {{ request.facility.name }} Facility by {{ request.money_requested_by.user.first_name }} {{ request.money_requested_by.user.last_name }}</p>
           <a class="pull-right underline" style='margin-top:-15px' href="{% url 'viewpendingrequest' pk=request.id %}">View Request</a>
        </div>
        {% endif %}
      {% endfor %}
      	<a href="{% url 'viewpendingrequests' %}">
          <div class="pull-right">
    	        <button type="button" class="btn btn-button btn1">View all Request ></button> 
          </div>
      	</a>
    </div>
    <br><br>
    <div class="col-md-1 hidden-xs hidden-sm border"></div>
    <div class="col-md-6">
      <h2>Facility Level Status</h2>
        {% for facility in facilities %}
        <div class="col-md-6">
          <a href="{% url 'facilityreport' pk=facility.pk %}"><button type="button" class="btn btn-primary btn-block">{{ facility.name }} Facility</button></a>
        </div>
        {% endfor %}
    </div>
  </div>


<style type="text/css">

   a:hover    {
    text-decoration: none;
  }
  span{
    margin-left: 20px;
  }
  body{
    background-color: #eee;
    width: 95%;
  }
  #top-button{
    margin-bottom: 5%;
  }
  .btn1{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .green{
    background-color: #5cb85c;
    margin-top: 5%;
    color: white;
    padding: 10px;

  }
  .border{
    height: 550px;
    border-right: 1px solid black;
    width: 1px !important;
    margin-right: 10px;
  }
  h3{
    font-weight: 700;
  }

  .btn-block{
    padding: 6%;
    margin-top: 5%;
    font-weight: 700;
  }
  p{
    color: white;
  }
@media only screen and (max-width: 450px) {
  #top-button{
    width: 90% !important;
    margin-left: 6%;

  }
}
@media only screen and (min-width: 450px) {
  #top-button{
    width: 95% !important;
    margin-left: 6%;

  }
}
@media only screen and (min-width: 992px) {
  #top-button{
    width: 100% !important;
    margin-left: 1%;

  }
}
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    margin-bottom: 0;
}
</style>
{% endblock %}
