<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

 <!-- Materialize CSS -->
 <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
 Material icons
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  -->
</head>
<title>Django</title>
{% if user.is_authenticated %}
<div class="navbar-fixed">
    <nav class="blue">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo center">Google App</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'logout' %}">Log out</a></li>
            </ul>
        </div>
    </nav>
</div>


<!-- <ul class="nav justify-content-center">

  <li class="nav-item">
    <a class="nav-link active" href="/" class="brand-logo center">Home</a
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
  </li>
</ul> -->


{% endif %}
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
