{% extends 'base.html' %}
{% block content %}

	<div class="main_container">
		<div class="baby_container0">
			<center><h1>Add <b>Bill Payment Request</b></h1></center>
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
			
			<div id="main">			
				<div id="clonebaby" class="baby_container">
					<div class="baby_cont1">
						<input type="number" placeholder="Bill Amount" min="0" name="amount" class="form-control" id="usr" required>

					</div>
					<div class="baby_cont1">
						<select  name= "type_of_bill" class="selectpicker" required>
						  <option value="">Select type of the Bill</option>
						  {% for value, name in form.fields.type_of_bill.choices %}
							  	<option value='{{ value }}' >{{ name }}</option>
						  {% endfor %}
						</select>

					</div>
					<div class="baby_cont1">
						<textarea type="text" placeholder="Description" name="description" class="form-control" id="usr" required></textarea>
						<span  id="fileselector">
						        <label style="width: 100%;  margin-top: 10px;" class="btn btn-default" for="upload-file-selector">
						            <input class="invisible" id="upload-file-selector" name="bill_image" type="file" required>
						           <h4>Upload Bill Photo</h4>
						        </label>
						    </span>
						
					</div>
				</div>
			</div>
			
			<button id="btnbottom" type="submit" class="btn btn-success pull-right">Submit Bill Payment Request ></button>
		</form>
		</div>
	</div>
</body>

{% block style %}
<style type="text/css">
	body{
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 0;
	margin: 0 20px;
	background-color: #eee;
	font-family: sans-serif;
}

#tag-p{
	font-size: 20px;
	color: black;
	margin-top: 20px;
}
.form-control{
	font-size: 16px;
	padding: 20px;
	
}
.selectpicker{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #999;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.main_container{
	display: flex;
	justify-content: center;

}
.baby_cont1{
	margin-top: 15px;

}

#btnbottom{
	font-size: 120%;
	margin-top: 20px;
}
</style>
{% endblock style %}
{% endblock %}
