<!-- Page to show the Detail about the Each Request on Admin Side -->
{% extends 'base.html' %}

{% block content %}

<div class="bottom-container">
    <div class="col-md-3">
    </div>
    <!-- Block will execute only if the request type is Money Request and are not approved -->
    {% if money_request.is_money_request and not money_request.is_approve %}
        <div class="col-md-6 center">
            <center><h2>Request Details</h2></center>
            <!-- Detail about the request -->
            <h4><b>Details</b></h4>
            <p><b>Amount :</b> <span>₹{{ money_request.amount }}</span></p>
            <p><b>Who made the request?  </b><span>{{ money_request.money_requested_by }}</span></p>
            <p><b>From Which Facility? </b> <span>{{ money_request.facility }} Facility</span></p>
            <p><b>Date:</b><span>{{ money_request.created_date }}</span></p>
            <p><b>Description:</b> <span>{{ money_request.description }}</span></p>

            <!-- Account Detail to where to transfer money -->
            <h4><b>Account Details</b></h4>
            <p><b>Account Holder Name:</b><span>{{ money_request.money_received_by }}</span></p>
            <p><b>UPI Id:</b> <span>{{ money_request.money_received_by.upi_id }}</span></p>

            <!-- Rejection Details of the request -->
            <h4><b>Rejection Details :</b></h4>
            <p><b>Rejected By:</b><span>{{ money_request.money_received_by }}</span></p>
            <p><b>Reason:</b><span>{{ money_request.reason_for_reject }}</span></p>
        </div>
        
    <!-- Block will execute only if the request type is Money Request and are approved -->
    {% elif money_request.is_money_request and money_request.is_approve %}
        <div class="col-md-6 center">
            <!-- Detail about the request -->
            <center><h2>Request Details</h2></center>
            <h4><b>Details</b></h4>
            <p><b>Amount :</b> <span>₹{{ money_request.amount }}</span></p>
            <p><b>Who made the request?  </b><span>{{ money_request.money_requested_by }}</span></p>
            <p><b>From Which Facility? </b> <span>{{ money_request.facility }} Facility</span></p>
            <p><b>Date:</b><span>{{ money_request.created_date }}</span></p>
            <p><b>Description:</b> <span>{{ money_request.description }}</span></p>

            <!-- Account Detail to where to transfer money -->
            <h4><b>Account Details</b></h4>
            <p><b>Account Holder Name:</b><span>{{ money_request.money_received_by }}</span></p>
            <p><b>UPI Id:</b> <span>{{ money_request.money_received_by.upi_id }}</span></p>
            
            <!-- Approving Details of the request -->
            <h4><b>Approving Details :</b></h4>
            <p><b>Approved By:</b><span>{{ money_request.money_received_by }}</span></p>
        </div>

    <!-- Block will execute only if the request type is Bill Payment Request and are not approved -->
    {% elif not money_request.is_approve and money_request.is_utility_request %}
        <div class="col-md-6 center">
            <!-- Detail about the request -->
            <center><h2>Request Details</h2></center>
            <h4><b>Details</b></h4>
            <p><b>Amount :</b> <span>₹{{ money_request.amount }}</span> for {{ money_request.type_of_bill }} Bill</p>
            <p><b>Who made the request?  </b><span>{{ money_request.money_requested_by }}</span></p>
            <p><b>From Which Facility? </b> <span>{{ money_request.facility }} Facility</span></p>

            <p><b>Date:</b><span>{{ money_request.created_date }}</span></p>
            <p><b>Description:</b> <span>{{ money_request.description }}</span></p>
            <p><b>Bill Image:</b> <img src="{{ money_request.bill_image.url }}" height='100px' ></p>
           

            <!-- Rejection Details of the request -->
            <h4><b>Rejection Details :</b></h4>

            <p><b>Rejected By:</b><span>{{ money_request.money_received_by }}</span></p>
            <p><b>Reason:</b><span>{{ money_request.reason_for_reject }}</span></p>
        </div>

    <!-- Block will execute only if the request type is Bill Payment Request and are  approved -->
    {% elif money_request.is_approve and money_request.is_utility_request %}
        <div class="col-md-6 center">
            <!-- Detail about the request -->
            <center><h2>Request Details</h2></center>
            <h4><b>Details</b></h4>
            <p><b>Amount :</b> <span>₹{{ money_request.amount }}</span> for {{ money_request.type_of_bill }} Bill</p>
            <p><b>Who made the request?  </b><span>{{ money_request.money_requested_by }}</span></p>
            <p><b>From Which Facility? </b> <span>{{ money_request.facility }} Facility</span></p>

            <p><b>Date:</b><span>{{ money_request.created_date }}</span></p>
            <p><b>Description:</b> <span>{{ money_request.description }}</span></p>
            <p><b>Bill Image:</b> <img src="{{ money_request.bill_image.url }}" height='100px' ></p>
            

            <!-- Rejection Details of the request -->
            <h4><b>Approving Details :</b></h4>
            <p><b>Approved By:</b><span>{{ money_request.money_received_by }}</span></p>
        </div>
    {% endif %}

    <div class="col-md-3">
    </div>

</div>


<style type="text/css">
  h4{
    margin-top: 8%;
    font-size: 23px;
  }
  p{
    font-size: 17px;
  }
  .green{
    background-color: #5cb85c;
    margin-top: 5%;
    color: white;
    padding: 10px;

  }
  a{
  	text-decoration: none;
  }
  .center{
    /*margin-left: 20%;*/
  }
  span{
    margin-left: 20px;
  }
  body{
    background-color: #eee;
    margin: 0 2%;
  }
  #top-button{
    margin-bottom: 5%;
  }
  .btn1{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .border{
    height: 600px;
    border-right: 1px solid black;
    width: 1px !important;
    margin-right: 10px;
  }
  h3{
    font-weight: 900;
  }

  .btn-block{
    padding: 6%;
    margin-top: 5%;
    font-weight: 900;
  }
  .footer{
    margin-bottom: 25px;
  }

body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

</style>

{% endblock %}
