<!-- HomePage for fellow -->
{% extends 'base.html' %}
{% block content %}
<!-- Notification icon -->
<div class="dropdown pull-right" style="margin-right: 10%; ">
   <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-bell fa-lg"></i></a>
   <ul class="dropdown-menu" style="padding: 20px;">
   	<!-- Iteratingover each request -->
   	{% for money_request in money_requests %}
      	<a class='bg' href="{% url 'detailrequest' pk=money_request.id %}">
      		<li>
      			<!-- for Transer request which are accepted-->
          		{% if money_request.is_approve and money_request.is_money_request %}
		             <div class="row">
		                <div class="col-md-12 wrap">Money Transfer Request of ₹ {{ money_request.amount }} for {{ money_request.description }} by you have been approve by {{ money_request.approve_or_rejected_by }}!
		                </div>
		             </div>
		        <!-- for BillcPayment Request which are accepted-->
	            {% elif money_request.is_approve and money_request.is_utility_request %}
		            <div class="row">
		                <div class="col-md-12 wrap">Bill Payment Request for {{ money_request.type_of_bill }} of ₹ {{ money_request.amount }} have been approve by {{ money_request.approve_or_rejected_by }}!
		                </div>
		            </div>
		        <!-- for Transfer Request which are not accepted -->
		        {% elif not money_request.is_approve and money_request.is_money_request %}
		            <div class="row">
		                <div class="col-md-12 wrap">Money Transfer Request for ₹ {{ money_request.amount }} has been rejected by {{ money_request.approve_or_rejected_by }}! Reason was {{ money_request.reason_for_reject }}.
		                </div>
		            </div>
		        <!-- for Bill Payment Request which are not accepted -->
		        {% elif not money_request.is_approve and money_request.is_utility_request %}
		            <div class="row">
		                <div class="col-md-12 wrap">Bill Payment Request for Water of ₹ {{ money_request.amount }} have been rejected by {{ money_request.approve_or_rejected_by }}! Reason was {{ money_request.reason_for_reject }}.
		                </div>
		            </div>
	            {% endif %}
      		</li>
      </a>
    		<li class="divider"></li>
	{% endfor %}
   </ul>
</div>



<div class="row-fluid " style="margin-top:3% !important;">
	<!-- left row buttons -->
	<div class="col-md-1"></div>
	<div class="col-md-5 child">
		<!-- add expense button -->
		<div class="col-md-12">
			<a href="{% url 'addexpense' %}"><button type="button" class="btn btn-danger btn-block"><i class="fas fa-money-bill-alt fa-lg"></i>  Add Expense</button></a>
		</div>
		<!-- Request Bill Payment -->
		<div class="col-md-6">
			<a href="{% url 'utilityrequest' %}"><button type="button" class="btn btn-success btn-block"><span class="glyphicon">&#xe177;</span>
		  Request Bill Payment</button></a>
		</div>
		<!-- Request Transfer -->
		<div class="col-md-6">
		<a href="{% url 'moneyrequest' %}"><button type="button" class="btn btn-success btn-block"><i class="fa fa-angle-double-down fa-lg"></i>  Request Transfer</button></a>
		</div>
		<!-- View Payment facility -->
		<div class="col-md-12">
			<a href="{% url 'facilityreport' pk=user.nguser.facility.id %}"> <button type="button" class="btn btn-success btn-block"><span class="glyphicon">&#xe105;</span>   View Payment to your Facility</button></a>
		</div>
	</div>
	<div class="col-md-1 hidden-xs hidden-sm border"></div>
	<!-- Right side stats of students -->
	<div class="col-md-4">
		<!-- Student Stats -->
	 	 <h2>Your Status</h2>
		<div class="col-md-12 green">
			<h3>₹ {{ user.nguser.total_weekly_expenses }} </h3>
			<p>you've spent {{ user.nguser.total_time_in_ng }} days with NG family now.</p>
		</div>
		<!-- link fellow report page -->
		<div class="pull-right">
			<a href="{% url 'fellowreport' pk=user.nguser.id %}">View Detailed personal Reports ></a>
		</div>
		<div>
			<h2 style="margin-top: 40px !important;" class="hadding2">{{ user.nguser.facility.name }} Facility Status</h2>
		</div>
		<!-- Weekly Expense Details -->
		{% if user.nguser.in_weekly_limit %}
			<div class="col-md-12 green">
				<h3>₹ {{ user.nguser.last_week_facility_expenses }} spent in the last week</h3>
				<p>you are within the ₹{{ user.nguser.facility.student_expenses_limit }}/month limit of your facility. wohoo!</p>
			</div>
		{% else %}
			<div class="col-md-12 green">
				<h3>₹ {{ user.nguser.last_week_facility_expenses }} spent in the last week</h3>
				<p>you have execeeded the ₹{{ user.nguser.facility.student_expenses_limit }}/month limit of your facility by ₹{{ user.nguser.week_limit_exceed_by }} per student. start saving up buddy :)</p>
			</div>
		{% endif %}

		<!-- Monthly Expense Details -->
		{% if user.nguser.in_monthly_limit %}
			<div class="col-md-12 green">
				<h3>₹ {{ user.nguser.last_month_facility_expense }} spent in the last month</h3>
				<p>you are within the ₹{{ user.nguser.facility.student_expenses_limit }}/month limit of your facility. wohoo!</p>
			</div>
		{% else %}
			<div class="col-md-12 green">
				<h3>₹ {{ user.nguser.last_month_facility_expense }} spent in the last month</h3>
				<p>you have execeeded the ₹{{ user.nguser.facility.student_expenses_limit }}/month limit of your facility by ₹{{ user.nguser.month_limit_exceed_by }} per student. start saving up buddy :)</p>
			</div>
		{% endif %}

		<!-- link to detail facility page -->
		<div class="pull-right footer">
			<a href="{% url 'facilityreport' pk=user.nguser.facility.id %}">View Detailed Facility Reports ></a>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
<style type="text/css">
.green{
background-color: #5cb85c;
margin-top: 3%;
color: white;
padding: 4px;

}
.bg{
	background-color: #ececec !important;
}

.border{
height: 550px;
border-right: 1px solid black;
width: 1px !important;
margin-right: 10px;
}
a{
	text-decoration: none !important;
	color:#444;

}
a:hover{
	color: :#000;
}
h3{
font-weight: 900;
}
body{
	background: #eee;
}
.glyphicon{
	font-size: 15px;
}
.child{
margin-top: 10%;
}
.btn-block{
padding: 3%;
margin-top: 5%;
font-weight: 900;
}
p{
color: white;
}
.wrap{
	white-space: pre-wrap;
	word-wrap: break-word;
	padding-top: 20px !important;
}
.wrap:hover{
	background-color: #eeeeff;
	border-radius: 3px;
}
.footer{
margin-bottom: 25px;
}

.row-fluid{
margin-top:-4% !important;
}
.dropdown-menu{

    min-height: 60vh;
    max-height: 80vh;
    overflow-y: scroll;
}
@media screen and (max-width: 450px) {
	.dropdown-menu{
		min-width: 300px !important;
	}
}

@media screen and (min-width: 450px ){

	.dropdown-menu{
		min-width: 400px !important;
	}
}
@media only screen and (min-width: 600px) {
        .dropdown-menu {
		min-width: 500px !important;
	}
}
</style>
{% endblock %}
