{% extends 'base.html' %}
{% block content %}
  
	
					<div class="row-fluid " style="margin-top:3% !important;">
					    <div class="col-md-1"></div>
					    <div class="col-md-5 child">
					      <div class="col-md-12">
					        <a href="{% url 'addexpense' %}"><button type="button" class="btn btn-danger btn-block">Add Expense</button></a>
					      </div>
					      <div class="col-md-6">
					        <a href="{% url 'utilityrequest' %}"><button type="button" class="btn btn-success btn-block"><span class="glyphicon">&#xe177;</span>
					        Request Bill Payment</button></a>
					      </div>
					      <div class="col-md-6">
					        <a href="{% url 'moneyrequest' %}"><button type="button" class="btn btn-success btn-block"><span class="glyphicon">&#xe259;</span>Request Transfer</button></a>
					      </div>
					      <div class="col-md-12">
					        <a href="{% url 'facilityreport' pk=user.nguser.facility.id %}"> <button type="button" class="btn btn-success btn-block"><span class="glyphicon">&#xe105;</span>View Payment to your Facility</button></a>
					      </div>
					    </div>
					    <div class="col-md-1 hidden-xs hidden-sm border"></div>
					    <div class="col-md-4">
					      <h2>Your Status</h2>
					      <div class="col-md-12 green">
					        <h3>₹ {{ user.nguser.total_weekly_expenses }} </h3>
					        <p>you've spent {{ user.nguser.total_time_in_ng }} days with NG family now.</p>
					      </div>
					      <div class="pull-right">
					        <a href="{% url 'fellowreport' pk=user.nguser.id %}">View Detailed personal Reports ></a>
					      </div>
					      <div>
					        <h2 style="margin-top: 40px !important;" class="hadding2">{{ user.nguser.facility.name }} Facility Status</h2>
					      </div>
					      <div class="col-md-12 green">
					        <h3>₹ {{ user.nguser.last_week_facility_expenses }} spent in the last week</h3>
					        <p>you are within the ₹{{ user.nguser.facility.student_expenses_limit }}/month limit of your facility. wohoo!</p>
					      </div>
					      <div class="col-md-12 green">
					        <h3>₹ {{ user.nguser.last_month_facility_expense }} spent in the last month</h3>
					        <p>you have execeeded the ₹{{ user.nguser.facility.student_expenses_limit }}/month limit of your facility by ₹500 per student. start saving up buddy :)</p>
					      </div>
					      <div class="pull-right footer">
					        <a href="{% url 'facilityreport' pk=user.nguser.facility.id %}">View Detailed Facility Reports ></a>
					      </div>
					    </div>
					    <div class="col-md-1"></div>
					  </div>

			<style type="text/css">
			  .green{
			    background-color: #5cb85c;
			    margin-top: 3%;
			    color: white;
			    padding: 4px;

			  }

			  .border{
			    height: 550px;
			    border-right: 1px solid black;
			    width: 1px !important;
			    margin-right: 10px;
			}	
			  a{
			  	text-decoration: none !important;

			  }
			  h3{
			    font-weight: 900;
			  }
			  body{
			  	background: #eee;
			  }
			  
			  .child{
			    margin-top: 10%;
			  }
			  .btn-block{
			    padding: 3%;
			    margin-top: 5%;
			    font-weight: 900;
			  }
			  p{
			    color: white;
			  }
			  .footer{
			    margin-bottom: 25px;
			  }

			.row-fluid{
				margin-top:-4% !important;
			}

			</style>
{% endblock %}
