{% extends 'base.html' %}
{% block content %}

<!-- Form for Requesting the money from the Admin -->
<div class="main_container">
		<div class="baby_container0">
			<center><h1 style="margin-right: 80px;">Add <b>Transfer Request</b></h1></center>
			<form method="POST">
			<div id="main">
				<p id="tag-p">Transfer Details</p>
				<div id="clonebaby" class="baby_container">
					<div class="baby_cont1">
							<!-- token for security purpose -->
							{% csrf_token %}
							<div class="form-component input--medium">
								<div class="input--with-icon">
									<!-- enter the amount  -->
									<input type="number" placeholder="How much money do you need?" name = "amount" class="form-control" id=" ">
								</div>
							</div>
						</div>
					<div class="baby_cont1">
					 <!-- enter the name  -->
						<select class="selectpicker" required name ="money_requested_by" >
							<option value="">For whom do you need the money?</option>
							{% for value, name in transfer_request_form.fields.money_requested_by.choices %}
							  	<option value='{{ value }}' {% if value == user.nguser.id %} selected {% endif %}>{{ name }}</option>
						  {% endfor %}
						</select>

					</div>
					<div class="baby_cont1">
						<!-- description for money needed -->
						<textarea type="text" name="description" placeholder="Why is the money needed?" class="form-control" id="usr" required></textarea>
					</div>
				</div>
				<p id="tag-p">Account Details</p>
				<div id="clonebaby" class="baby_container">
					<div class="baby_cont1">
						<input type="text" placeholder="Account Number" name="account_number" class="form-control id="usr>
					</div>
				</div>	
				<div id="clonebaby" class="baby_container">
					<div class="baby_cont1">
						<input type="text" placeholder="Confirm Account Number..." name="confirm_account_number)" class="form-control id="usr>
					</div>
				</div>
				<div id="clonebaby" class="baby_container">
					<div class="baby_cont1">
						<input type="text" placeholder="IFSC Code" name="IFSC_code" class="form-control id="usr>
					</div>
				</div>
				<div id="clonebaby" class="baby_container">
					<div class="baby_cont1">		
	                <input type="text" placeholder="Name of Account Holder" name="account_holder_name" class="form-control" id="usr">
	             </div>
	         </div>
                
			<!-- <p id="tag-p">Pre-existing UPI Users :</p>
			<div class="baby_container">

				<div class="baby_cont1">
					<select class="selectpicker" class="form-control" name = "nguser_with_upi" >
						<option value="">Users who already have there UPI Id</option>
						{% for values, name in form.fields.nguser_with_upi.choices %}
							<option value='{{ values }}' >{{ name }}</option>
						{% endfor %}
					</select>
				</div>

				<p id="tag-p">OR</p>
				<p id="tag-p">Create a new UPI users :</p>
				<div class="baby_cont1">
					<select class="selectpicker" class="form-control" name = "nguser_without_upi" >
						<option value="">Create a UPI for these user</option>
						{% for values, name in form.fields.nguser_without_upi.choices %}
							<option value='{{ values }}' >{{ name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="baby_cont1">
					<input type="text" id='upi_id' placeholder="UPI Id" class="form-control" name="upi_id" id="usr">
				</div>
			</div> -->
			<button id="btnbottom" type="submit" class="btn btn-success pull-right">Submit Transfer Request ></button>
			</form>
		</div>
	</div>

{% block style %}
<style type="text/css">
	body{
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 0;
	margin: 0 20px;
	background-color: #eee;
	font-family: sans-serif;
}
#tag-p{
	font-size: 20px;
	color: black;
	margin-top: 20px;
}
.form-control{
	font-size: 16px;
	padding: 20px;

}
.selectpicker{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #999;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.main_container{
	display: flex;
	justify-content: center;

}
.baby_cont1{
	margin-top: 15px;

}

#btnbottom{
	font-size: 120%;

	margin-top: 20px;
}
</style>
{% endblock style %}

{% endblock %}
