{% extends 'base.html' %}
{% block content %}

<!-- Form for Requesting the money from the Admin -->
<div class="container" style="max-width: 60%">
	<div class="">
		<h3 class="text-center">
		Add Transfer Request
		</h3>
		<br>

		<form mehtod="post">
		  {% csrf_token %}
		  <h4>Transfer Details</h4>
		  <!-- Details about transfer request -->
		  <div class="form-group">
		  	<!-- Amount Field -->
			<label for="amount">Amount :</label>
			<div class="input-group">
			    <div class="input-group-prepend">
			      <span class="input-group-text" id="amount"><i class="fa fa-inr"></i></span>
			     	{{ form.amount }}
			    </div>
			</div>
			<br>
			<!-- Facility Dropdown Menu which will be auto selected -->
			<label for="facility">Facility :</label>
			<div class="input-group">
			    <div class="input-group addon">
			      <span class="input-group-addon" id="facility"><i class="fa fa-home"></i></span>
			     	{{ form.facility }}
			    </div>
			</div>
			<br>

			<!-- Purpose for the money request -->
			<label for="description">Description :</label>
			<div class="input-group">
			    <div class="input-group addon">
			      <span class="input-group-addon" id="description"><i class="fa fa-pencil-square-o"></i></span>
			     	{{ form.description }}
			    </div>
			</div>
			<br>

		  </div>


		<h6>Account Details</h6>
		<br>

		<div class="form-group">
			<!-- User that have UPI id stored in database -->
			<label for="nguser_with_upi">Fellow those have the UPI id :</label>
			<div class="input-group">
			    <div class="input-group addon">
			      <span class="input-group-addon" id="nguser_with_upi"><i class="fa fa-user"></i></span>
			     	{{ form.nguser_with_upi }}
				</div>
		  	</div>
			<br>

		  <h4 class="text-center">OR</h4>

		  	<!-- Add Upi ID for the user-->
		  	<h6>Add UPI id for the User below :</h6>

		  	<!-- User without the Upi id field -->

				<!-- <label for="nguser_without_upi">Fellow those have the UPI id :</label> -->
				<div class="input-group">
				    <div class="input-group addon">
				      <span class="input-group-addon" id="nguser_without_upi"><i class="fa fa-user"></i></span>
				     	{{ form.nguser_without_upi }}
					</div>
			  	</div>
				<br>
		  	<!-- UPI id field for the User -->
		  	<div class="input-group">
			    <div class="input-group addon">
			      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-code"></i></span>
			     	{{ form.upi_id }}
			    </div>
		  	</div>
			<br>

		</div>


		<button class="btn btn-success float-right" type="submit">Submit Transfer Request</button>
		</form>
	</div>
</div>
{% endblock %}
