{% extends 'base.html' %}
{% block content %}
<div class="container" style="max-width:60%">
<h3 class="text-center">Record Payment :</h3> <br>
<!-- Record Payment made to the facility  -->

    <form method='POST'>
     {% csrf_token %}





     <div class="form-group">
    <label for="payment-amount">Amount :</label>
          <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="payment-amount"><i class="fa fa-inr"></i></span>
                {{ form.payment_amount }}
              </div>
          </div>
          <br>
          <label for="facility">Facility :</label>
          <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="facility"><i class="fa fa-home"></i></span>
                {{ form.facility }}
              </div>
          </div>
          <br>
          <!-- Purpose for the money request for type of bill -->
          <label for="description">Extra Notes :</label>
          <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="description"><i class="fa fa-pencil-square-o"></i></span>
                {{ form.description }}
              </div>
          </div>
          <br>
          <!-- Image of the bill that have the Request -->
          <label for="bank_screenshot">Bank Screenshot :</label>
          <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="bank_screenshot"><i class="fa fa-pencil-square-o"></i></span>
                <span class="btn btn-default btn-file">
                {{ form.bank_screenshot }}
                </span>
              </div>
          </div>

          </div>

           <input class="btn btn-success float-right" type="submit" value="Record Payment >" />

    </form>
</div>
{% endblock %}
