<!-- Template to get the facility of the user when he signup for first timwe -->

{% extends 'base.html' %}
{% block content %}

<!-- Form to get the facility -->
<form method="POST">
	{% csrf_token %}    
	<div class="main_container">
		<div class="baby_container0">
			<center><h1>Choose your <b>Facility</b></h1></center>
			<div id="main">			
				<div id="clonebaby" class="baby_container">
					<!-- facility field -->
					<div class="baby_cont1">
					 	<select name='facility' class="selectpicker" required>
		                    <option>In which Facility are you joining up buddy?</option>
		                  	{% for values, name in form.fields.facility.choices %}
		                    	<option value='{{ values }}' >{{ name }}</option>
                  			{% endfor %}
                 		 </select>
					</div>
				</div>
				<!-- button field -->
				<button id="btnbottom" type="submit" class="btn btn-success pull-right">Save My Details ></button>
			</div>
		</div>          
	</div>
</form>

<style type="text/css">
	body{
	background-color:	 #eee;
	font-family: sans-serif;
}
.selectpicker{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #999;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    outline: none;
}

.main_container{
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;

}
.baby_cont1{
	margin-top: 15px;

}

#btnbottom{
	font-size: 120%;
	margin-top: 20px;

</style>
{% endblock %}
