<!-- Page to search feloow and there detail report page -->
{% extends 'base.html' %}
{% block content %}
<!-- top buttons -->
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-1">
    </div>
    <!-- add expense button -->
    <div class="col-md-3">
    	<a href="{% url 'addexpense' %}">
	      <button id="top-button"  type="button" class="btn btn-danger btn-block"><i class="fas fa-money-bill-alt fa-lg"></i>  Add an Expense</button>
    	</a>
    </div>
    <!-- record payment buttons -->
    <div class="col-md-3">
    	<a href="{% url 'recordpayment' %}">
	      <button id="top-button"  type="button" class="btn btn-success btn-block"><i class="fas fa-angle-double-up"></i>  Record a Payment</button>
    	</a>
    </div>
    <!-- search user button -->
    <div class="col-md-3">
        <a href="{% url 'searchfellow' %}">  
        <button id="top-button" type="button" class="btn btn-primary btn-block"><i class="fas fa-user-plus "></i>  Student Level Expenses</button>
        </a>
    </div>
</div>
<!-- field to search user -->
<div class="main_container">
	<div class="baby_container0">
		<div class="row-fluid">
			<div class="col-md-2"></div>
			<div id="main col-md-8">			
				<div id="clonebaby" class="baby_container">
					<!-- search box -->
					<div class="baby_cont1">
						<input  type="text" placeholder="Which student expense do you want to see?" id="search" class="form-control" autofocus>
					</div>
					<div class="bet-fluid" id="results" style="overflow: scroll; height: 50%;">

					</div>
				</div>
			
			</div>
			<div class="col-md-2"></div>
		</div>
		
</div>

<script>
	// function to search the fellow from data base when ever key is pressed in the search box
    $(function (){

    $('#search').keyup(function(event){
        $('#results').html('')
     	
     	// for handling key pressed the search box is empty
        if($('#search').val()==''){
        	$('#results').html('');
        	return false;
        }

        // Searching the database for user of specific facility
        $.ajax({
            type: 'GET',
            url: "{% url 'searchfellow' %}",
            data: {query:$('#search').val()},
            success: function(data) {

            	// appending the user is exist
            	if (data){
            		for (var i = data.users.length - 1; i >= 0; i--) {
		                $('#results').append('<a href="/fellowreport/'+ data.users[i].id +'"><li class="list">' + data.users[i].user__username +'<span class="pull-right"> from '+data.users[i].facility__name+'</span></li></a>')
		          		 }
            		}
            	}
        });

    });

});

    
</script>

<style type="text/css">
	body{
	background-color: #eee;
	font-family: sans-serif;
	width: 95%;
}
  #top-button{
    margin-bottom: 5%;
  }
.list{
	color: black;
	box-shadow: 1px 2px #999;
	font-size: 15px;
	font-weight: 700;
	padding: 5px 3%;
	margin-right: 10%;
	margin-left: 9%;
	background-color: white;
	list-style-type: none;
}
.list:hover{
	cursor: pointer;
	background-color: #f2f2f2;
}
#results{
	width: 100%;
}
.btn-block{
padding: 6%;
margin-top: 5%;
font-weight: 700;
}
.baby_cont1{
	margin-top: 15px;
	margin: 0 auto;
	margin-right: 9%;
	margin-left: 9%;
	margin-top: 17%; 
}

.form-control{
	padding: 30px 3%;
	font-weight: 600;
	font-size: 21px;
	width: 98%;
	border: none;
	border-bottom: 1px solid #eee !important;
}

@media only screen and (max-width: 450px) {
  .form-control{
	font-size: 12px;
	width: 100%;
	}
   .baby_cont1{
   	margin-top: 20%;
   }
   #top-button{
    width: 90% !important;
    margin-left: 6%;

  }
  .list{
  	font-size: 10px;
  }
}
a:hover{
text-decoration: none;
}
</style>

{% endblock %}
