<!-- Page for Accepting or rejecting the request on admin side -->
{% extends 'base.html' %}
{% block content %}
    <!-- Top buttons -->
    <div class="main-container">
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
        </div>
        <!-- Add expense button -->
        <div class="col-md-3">
          <a class='text' href="{% url 'addexpense' %}">
            <button id="top-button" type="button" class="btn btn-danger btn-block"><i class="fa fa-money-bill-alt fa-lg" ></i>  Add an Expense</button>
          </a>
        </div>
        <!-- Record Payment button -->
        <div class="col-md-3">
          <a class='text' href="{% url 'recordpayment' %}">
            <button id="top-button" type="button" class="btn btn-success btn-block"><i class="fa fa-angle-double-up"></i>  Record a Payment</button>
          </a>
        </div>
        <!-- Student Level Expense -->
        <div class="col-md-3">
          <a class='text' href="{% url 'searchfellow' %}">
            <button id="top-button" type="button" class="btn btn-primary btn-block"><i class="fas fa-user-plus"></i> Student Level Expenses</button>
          </a>
        </div>
    </div>
  <!-- Detail about the request -->
  <div class="bottom-container">
      <div class="col-md-3">
      </div>
      <!-- block for Transfer request -->
      {% if money_request.is_money_request %}
      <div class="col-md-6 center">
        <!-- Detail about request  -->
        <center><h2>Request Details</h2></center>
        <h4><b>Details</b></h4>
        <p><b>Amount</b> <span>₹{{ money_request.amount }}</span></p>
        <p><b>Who made the request?</b><span>{{ money_request.money_requested_by }}</span></p>
        <p><b>For Whom?:</b> <span>{{ money_request.facility }} Batch</span></p>
        <p><b>Date:</b><span>{{ money_request.created_date }}</span></p>
        <p><b>Description:</b> <span>{{ money_request.description }}</span></p>


        <!-- Account Information to transfer -->
        <!-- ############################################################## -->
        <!-- #what if the person doesn't have there own account like ranjan -->
        <!-- ############################################################## -->

        <h4><b>Account Details</b></h4>
        <p><b>Account Holder Name</b><span>{{ money_request.account_detail.account_holder_name }}</span></p>
        <p><b>Account Number</b><span>{{ money_request.account_detail.account_number }}</span></p>
        <p><b>IFSC code:</b> <span>{{ money_request.account_detail.IFSC_code }}</span></p>
      </div>
      <!-- block for Bill Payment request -->
      {% else %}
      <div class="col-md-6 center">
       <center><h2>Request Details</h2></center>
        <h4><b>Details</b></h4>
        <p><b>Amount</b> <span>₹{{ money_request.amount }}</span> for {{ money_request.type_of_bill }} Bill</p>
        <p><b>Who made the request?</b><span>{{ money_request.money_requested_by }}</span></p>
        <p><b>For Whom?:</b> <span>{{ money_request.facility }} Batch</span></p>
        <p><b>Date:</b><span>{{ money_request.created_date }}</span></p>
        <p><b>Description:</b> <span>{{ money_request.description }}</span></p>
        <p><b>Bill Image:</b><a href="{{ money_request.bill_image.url }}"> <img src="{{ money_request.bill_image.url }}" height='100px'></a></p>
      </div>
      {% endif %}
      <div class="col-md-3">
      </div>
      <div class="col-md-4">
      </div>
      <!-- form to accept or reject the request -->
      <form method='POST' enctype="multipart/form-data" action="{% url 'viewpendingrequest' pk=money_request.id %}">
      	{% csrf_token %}
		    <div class="col-md-6">
          <div class="col-md-3 pull-right">
            <button style="padding-right: 20px;" id="top-button" data-toggle="modal" data-target="#accept" onclick="approving()" name='accept' type="button" class="btn btn-success btn-block">Approve Request</button>
          </div>
          <div class="col-md-3 pull-right">
            <button style="padding-right: 30px;" id="top-button" type="button" data-toggle="modal" data-target="#reject" onclick="rejecting()" class="btn btn-danger btn-block">Reject Request</button>
          </div>
        </div>


            <!-- reject Modal box -->

            <div class="container">
              <!-- Modal -->
              <div class="modal fade" id="reject" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Description</h4>
                    </div>
                    <div class="modal-body">
                      <!-- Description field -->
                      <textarea type="text" name="reason_for_reject" placeholder="Why do you want to reject this Request?"  class="form-control" id="rejection"></textarea>
                    </div>
                    <div class="modal-footer">
                      <!-- cancel button -->
                      <button type="button" class="btn btn-default" onclick="cancelreject()" data-dismiss="modal">Cancel</button>
                      <!-- submit for rejection -->
                      <button  id='reject' type="submit" class="btn btn-default" onclick="inputchange()" name='reject'>Submit</button>
                    </div>
                  </div>

                </div>
              </div>

          </div>

          <!-- reject Modal box -->

            <div class="container">
              <!-- Modal -->
              <div class="modal fade" id="accept" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Bank ScreenShot</h4>
                    </div>
                    <div class="modal-body">
                      <!-- bank_screenshot field -->
                      <input type="file" class="form-control" id="bank_screenshot" name=" ">
                    </div>
                    <div class="modal-footer">
                      <!-- cancel button -->
                      <button type="button" class="btn btn-default" onclick="cancelreject()" data-dismiss="modal">Cancel</button>
                      <!-- submit for rejection -->
                      <button  id='reject' type="submit" class="btn btn-default" onclick="inputchange()" name='accept'>Submit</button>
                    </div>
                  </div>

                </div>
              </div>

          </div>
      </form>

    </div>


<!-- ================================================================================ -->
<script>
  var input = $("rejection");

  function inputchange() {
    if (input.value == '') {
      input.addClass('is-invalid');
    }
  }
  input.onclick = function(){
      input.removeClass('is-invalid');
  }


  // For reject button
  function cancelreject() {
    $('#rejection').prop('required',false);
  }
  function rejecting() {
    $('#rejection').prop('required',true);
  }

  function cancelapprove() {
    $('#bank_screenshot').prop('required',false);
  }
  function approving() {
    $('#bank_screenshot').prop('required',true);
  }

</script>
<!-- ================================================================================ -->

<style type="text/css">
  h4{
    margin-top: 8%;
    font-size: 23px;
  }
  p{
    font-size: 17px;
  }
  .green{
    background-color: #5cb85c;
    margin-top: 5%;
    color: white;
    padding: 10px;

  }
  a:hover{
  	text-decoration: none;
  }
  span{
    margin-left: 20px;
  }
  body{
    background-color: #eee;
  }
  #top-button{
    margin-bottom: 5%;
  }
  .btn1{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .border{
    height: 600px;
    border-right: 1px solid black;
    width: 1px !important;
    margin-right: 10px;
  }
  h3{
    font-weight: 900;
  }

  .btn-block{
    padding: 6%;
    margin-top: 5%;
    font-weight: 900;
  }
  .footer{
    margin-bottom: 25px;
  }

body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

</style>

{% endblock %}
