{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
 <div class="row">
  <br><br>
  <div class="col m6 card-panel white offset-m3" style="text-align:center">
    <h1>Hisaab</h1>
    <h4>NavGurukul Accounting App</h4>
    <br>
    <button type="submit" class="btn btn-info active" style="">
    <a class="btn waves-effect waves-light" href="{% url 'social:begin' 'google-oauth2' %}?next=/">
        Sign In With Google
    </a>
  </button>
  </div>
 </div>
</div>
{% endblock %}
