{% extends 'base.html' %}
{% block content %}

{% if not user.is_authenticated %}

	<div class="hedding4">
		<div class="bottomhadder">
			<div class="row">
				<div class="hisab_containt">
					<div class="centeritem">
					<center><h3>Hisaab</h3></center>
					<p style="color: #888;">NavGurukul Accounting App</p>
					</div>
					<a id="sbmt1" href="{% url 'social:begin' 'google-oauth2' %}?next=/"><button id="btnbottom2" type="button" class="btn btn-danger"><i class="fab fa-lg fa-google-plus-g"></i>  Sign In!</button></a>
				</div>	
			</div>
		</div>
	</div>
	<style type="text/css">
		a{
			display: flex;
			justify-content: center;

		}
		a:link {
		    text-decoration: none;
		}
		p{
			display: flex;
			justify-content: center;
			margin-bottom: 20px;
		}

		.hisab_containt{
			/*border: 2px solid #555;*/
			box-shadow: 2px 2px 2px #aaa;
			width: 300px;
			padding-top: 15%;
			padding-bottom: 15%;
			border-radius: 0px;
			background-color: white;
		}
		.hedding4{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			padding: 20px;
		}
		body{
			background: #eee;
			margin: 0 auto;
			width: 97% !important;
		}
	</style>
{% endif %}

{% endblock %}
