{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<div class="container">
 <div class="row">
  <br><br>
  <div class="card white"  style="position: absolute; margin: auto; top: 0; right: 0; bottom: 0; left: 0; width: 30%; padding: 40px; height: 35%; text-align: center;">
    <h4>Hisaab</h4>
    <p style="margin-bottom: 0rem !important; ">NavGurukul Accounting App</p>
    <br>
    <a class="btn btn-danger" href="{% url 'social:begin' 'google-oauth2' %}?next=/" style="outline: none; margin: 0px 20px 0px 20px;">
        Sign In With Google
    </a>  
  </div>
 </div>
</div>
{% endblock %}
